body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

.navbar {
  background-color: rgb(255, 123, 0);
}

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/usher.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  padding-top: center;
}

.container h1 {
  color: white;
  padding-top: 10%;
}

.container p {
  color: white;
}

.container button {
  background-color: rgb(255, 123, 0);
}

.main {
  min-height: 50vh;
  background-image: url("../img/orange-splash2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.main h2 {
  padding-top: 0px;
  padding-bottom: 20px;
}

.row img {
  width: 75px;
  height: 75px;
  margin-left: 50%;
  padding-bottom: 10px;
}

.row p {
  margin-right: 25%;
}

.card h2 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.card {
  border: 0px;
  background-color: rgb(252, 245, 245);
  padding-bottom: 5%;
}

.card .main-content .staff .cards-staff {
  padding: 10px 5px;
  box-shadow: 5px 5px 11px 0px rgba(40, 40, 40, 0.5);
  transition: all 0.5s ease;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -40px;
  border-radius: 8px;
  color: #fff;
  border: 0;
}

.card .main-content .staff .cards-staff h2 {
  margin-top: -10px;
  color: fixed;
}

.card .main-content .staff .cards-staff.staff1 {
  background-image: url("../img/spg-event.jpg");
  filter: brightness(60%);
}

.card .main-content .staff .cards-staff.staff2 {
  background-image: url("../img/usher-event.jpg");
  filter: brightness(60%);
}

.card .main-content .staff .cards-staff.staff3 {
  background-image: url("../img/host-event.jpg");
  filter: brightness(60%);
}

.card .main-content .staff .cards-staff.staff4 {
  background-image: url("../img/figuran.jpg");
  filter: brightness(60%);
}

.card .main-content .staff .cards-staff.staff5 {
  background-image: url("../img/wedding-singer.jpg");
  filter: brightness(60%);
}

.card .main-content .staff .cards-staff.staff6 {
  background-image: url("../img/team-leader.jpg");
  filter: brightness(60%);
}

.card .main-content .staff .cards-staff:hover {
  filter: brightness(100%);
  outline: 5px solid #ff5722;
  outline-offset: -5px;
  transition: box-shadow 0.2 ease;
}

.step h2 {
  padding-top: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 10px;
}

.stepper {
  min-height: 60vh;
  background-image: url("../img/how-to-join.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position-y: -18px;
  background-position-x: 100%;
  padding-bottom: 20px;
}
.stepper .line {
  width: 2px;
  background-color: lightgrey !important;
}
.stepper .lead {
  font-size: 1.1rem;
}

.rounded-circle, .py-2, .px-3{
  background-color: #ff5722;
}

.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/model.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.footer h5{
  color: white;
}

.footer p{
  color: white;
}

.list-unstyled a {
  color: #ff5722;
}

.footer-copyright {
  padding: 50px;
  color: white;
}